# Environment files
.env

# Python cache
__pycache__/
api/__pycache__/
pipeline/__pycache__

# Data
data/

# Commentary
frontend/src/commentary

# JSON files for charts
api/charts

# Commentary TXT files
api/commentary

# Deploy my using Prefect
deploy_from_github.py
apply_deployments.py
prefect.yaml